.signup-icon {
    font-size: 1.2em!important;
    background-color: white!important;
}
.drawer-icon {
    font-size: 1.2em!important;
    background-color: white!important;
}
.drawer-label {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
    color: #222222!important;
    font-size: 1em!important;
    text-decoration: none!important;
}
