.s-wrapper {
  display: block;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 60px;
}

.s-grid {
  display: grid;
  grid-gap: 20px;
  margin-top: 0px;
  grid-template-columns: repeat( auto-fit, minmax(165px, 1fr) );
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  }

